{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <!-- emtpy action means the data will be posted to the same route -->
        <form method="POST" action="" enctype="multipart/form-data"> <!-- enctype is important for passing image information -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="mb-4">Account Information</legend>
            <!-- USERNAME -->
            <div class="form-group sp-form">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- EMAIL -->
            <div class="form-group sp-form">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- PROFILE PICTURE -->
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file form-control-file-style") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class ="form-group sp-form">
            {{ form.submit(class="btn btn-outline-info" )}}
        </div>
    </form>
    <div>
        {% if not current_user.is_authenticated %}
            {# <!-- url_for method is being passed the route METHOD name not the name of the route --> #}
            <small class="text-muted">Already have an account?</small> <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        {% endif %}
    {% endblock content %}