{% extends "layout.html" %}

{% block content %}
<h1>Login</h1>
<div class="content-section">
	<!-- emtpy action means the data will be posted to the same route -->
	<form method="POST" action=""> 
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="mb-4">Log In</legend>

			<!-- EMAIL -->
			<div class="form-group sp-form">

				{{ form.email.label(class="form-control-label") }}

				{% if form.email.errors %}
					{{ form.email(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-control form-control-lg") }}
				{% endif %}

			</div>

			<!-- PASSWORD -->
			<div class="form-group sp-form">
				{{ form.password.label(class="form-control-label") }}

				{% if form.password.errors %}
					{{ form.password(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-control form-control-lg") }}
				{% endif %}

			</div>

			<div>
				<div class="form-check sp-form">
					{{ form.remember(class="form-check-input") }}
					{{ form.remember.label(class="form-check-label") }}
				</div>
			</div>

		</fieldset>

		<div class ="form-group sp-form">
			{{ form.submit(class="btn btn-outline-info" )}}
		</div>

		<small class="muted ml-2">
			<a href="{{ url_for('reset_request') }}">Forgot Password?</a>
		</small>

	</form>
</div>

<div>
	<!-- url_for method is being passed the route METHOD name not the name of the route -->
	<small class="text-muted">Need an account?</small> <a class="ml-2" href="{{ url_for('reg') }}">Sign Up Here</a>
</div> 

{% endblock content %}